/* html, body {
    margin: 0;
}

nav {
    
}
.logo {
    padding: 0px;
    width: 60px;
    display: inline-flex;
    margin: auto 5px;
    float: left;

}

.header {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: gray;
    padding: 7vh;
    opacity: 90%;
} */